[submodule "knowledge-base/ims.ostis.kb"]
	path = knowledge-base/ims.ostis.kb
	url = https://github.com/ostis-ai/ims.ostis.kb.git

[submodule "interface/sc-web"]
	path = interface/sc-web
	url = https://github.com/ostis-ai/sc-web
[submodule "knowledge-base/isa-5.1-ostis"]
	path = knowledge-base/isa-5.1-ostis
	url = https://github.com/xcuuuse/isa-5.1-ostis.git
[submodule "knowledge-base/khutorok-ostis"]
	path = knowledge-base/khutorok-ostis
	url = https://github.com/savushkin-r-d/khutorok-ostis
[submodule "knowledge-base/s88-ostis"]
	path = knowledge-base/s88-ostis
	url = https://github.com/ekatsune/s88-ostis.git
[submodule "knowledge-base/logistics-ostis"]
	path = knowledge-base/logistics-ostis
	url = https://github.com/Naevishh/logistics-ostis.git
